{
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"], // 너무 너그러워서 추후에 조금 더 엄격하게 바꿀 것
  "plugins": ["import", "react-hooks"],
  "rules": {}
}
